body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  }
#d1 {
  background-color: #708090; /* Цвет фона веб-страницы */
  color: #000000; /* Цвет основного текста */ 
  width: 100px;
  height: 30px;
  border:5px solid-black;
}
#d2 {
  background-color: #708090; /* Цвет фона веб-страницы */
  color: #000000; /* Цвет основного текста */ 
  width: 100px;
  height: 30px;
  border:5px solid-black;
}
#d3 {
  background-color: #708090; /* Цвет фона веб-страницы */
  color: #000000; /* Цвет основного текста */ 
  width: 100px;
  height: 30px;
  border:5px solid-black;
}
